################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HybridCachingLibrary/FileContentIndex/8c294aa5-474d-455e-8583-2d663db8ec6f.vsidx
